:root {
  --pageGutter: 18px;
  --maxWidth: 500px;
}

.main {
  max-width: 100%;
  padding: var(--pageGutter);
  margin: auto;
}

.crossword {
  display: grid;  
  width: calc(100vw - var(--pageGutter) * 2);
  height: calc(100vw - var(--pageGutter) * 2);
  max-width: var(--maxWidth);
  max-height: var(--maxWidth);
  grid-template:
    repeat(var(--rows), 1fr)
    / repeat(var(--rows), 1fr);
  border: 2px solid black;
}

.cell {
  background-color: var(--bgcolor);
  border: 1px solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num {
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 1.5vw;
}

.input {
  position: absolute;
  appearance: none;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  text-align: center;
  font-size: 3vw;
  line-height: 1;
}

.clues {
  column-count: 2;
  list-style: none;
  margin: 0;
  padding: 0;
}

.clue {
  background-color: var(--bgcolor);
  font-size: 3vw;
  margin-bottom: 6px;
}

.title {
  margin: 0 0 12px;
}

@media (min-width: 900px) {
  .num,
  .clue {
    font-size: 11px;
  }

  .main {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .clues {
    column-count: 3;
  }

  .crossword {
    flex-shrink: 0;
    width: 48vw;
    height: 48vw;
    margin-right: 2vw;
  }
}
