:root {
  --borderWidth: 1px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.crossword {
  display: grid;
  grid-template:
    repeat(var(--rows), calc((100vw - (2 * var(--borderWidth))) / var(--rows)))
    / repeat(
      var(--rows),
      calc((100vw - (2 * var(--borderWidth))) / var(--rows))
    );
  border: 1px solid black;
  margin: auto;
}

.cell {
  background-color: var(--bgcolor);
  border: var(--borderWidth) solid black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.num {
  position: absolute;
  top: 0px;
  left: 2px;
  font-size: 1.5vw;
}

.input {
  position: absolute;
  appearance: none;
  border: 0;
  outline: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  text-align: center;
  font-size: 3vw;
  line-height: 1;  
}
